title = "'phemera"
description  = "['phemera](https://hawx.me/code/phemera) is an experiment in forgetful blogging."
url = "http://localhost:8080"
me = "https://example.com"
secret = "some-secret-pls-change"
horizon = "-248400s"
dbPath = "./phemera-db"
